.tile {
    height: 100px;
    background: white;
    box-shadow: 3px 3px 7px rgba(100, 100, 100, 0.5);
    padding: 12px;
    margin: 20px 0px;
}

.imgContainer {
    display: inline-block;
    height: auto;
}

.img {
    height: 100px;
}

.text {
    display: inline-block;
    margin-left: 30px;
    position: relative;
    top: -20px;
}

.heading {
    font-weight: bold;
    margin-bottom: 10px;
}

.des {
    margin-bottom: 10px;
}

.valid {
    font-weight: 300;
    font-size: 0.75em;
}
