.header {
    padding: 10px;
    font-family: Roboto;
    width: 100%;
    position: fixed;
    top: 0;
    transition: top 0.3s;
    box-shadow: 0px 1px 5px rgba(150, 150, 150, 0.5);
    box-sizing: border-box;
}

.hidden {
    top: -56px;
}

.logo {
    margin-left: 20px;
    display: inline-block;
    height: auto;
}
.logoText {
    font-size: 12px;
}

.icon {
    margin: 10px;
}

.floatR {
    float: right;
}

.floatL {
    float: left;
}
